#conteiner{
    border: white;
}

div{
    /* caracteristicas dos quadrados da grade */
    width: 16px;
    height: 16px;
    display: grid;
    border: 2px solid black;
}

#btn-grade{
    margin-bottom: 30px;
}